.chat__contents__content
  .chat__contents__content-top
    .chat__contents__content-top__user
      = message.user.name
    .chat__contents__content-top__timestamp
      = message.created_at
    .chat__contents__content-top__text
      - if message.content.present?
        %p.chat__contents__content-top__image
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
