.container
  .nav
    .nav__name
      .nav__name__user
        ユーザー名
        .nav__name__user__lists
          .nav__name__user__lists__menu
          %i.fa.fa-pencil-square-o
          %i.fa.fa-cog

    .nav__room
      .nav__room__box
      %p.nav__room__name
        グループ名
      %p.nav__room__comment
        ラストメッセージ


  .chat
    .chat__info
      .chat__info-left
        .chat__info-left__name
          %p
          チャット中グループ名
        .chat__info-left__members
          %p
          Members:
      .chat__info-right
        %div{class:"main-header__edit-btn"}Edit
    .chat__contents
      .chat__contents__content
        %div.chat__contents__content__user ユーザー名
        %div.chat__contents__content__timestamp 2019/07/13(Sat) 12:19:14


      %div.message-text コメント


    .form
      .form__box
        %input.form__box__message{placeholder: "type a message"}
        %label.form__box__label
          = fa_icon 'image', class: 'icon fa-lg'
          %input{type:"file",style:"display:none;",id:"upload-icon"}
      %input{class:"form__submit-btn",value:"Send"}