// nav
$dark-blue: #253141;
$blue: #2f3e51;
$white: #ffffff;

// chat
$border: #eeeeee;
$light-glay: #999999;
$chat-name: #333333;
$chat-body: #434A54;
$back: #AAAAAA;

// btn
$light-blue: #38AEF0;


// alert
$alert_orange: #F35500;
