.nav {
  color:$white;
  float: left;
  width: 300px;
  height: 100vh;
  &__name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    // width: 300px;
    font-weight: bold;
      &__user{
      display: flex;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      width: 280px;
        &__lists{
          width: 30px;
          height: 20px;
          margin-left: 150px;
          color:white;
        &__menu{
          padding-right: 40px;
          color:white;
        }
      }
    }
  }
  &__room {
      display:block;
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px ;
      overflow: scroll;
      clear: both;
    &__box {
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      color: white;
      // margin-bottom: 40px;
      &__name {
        font-size: 20px;
        text-decoration: none;
        padding-left: 20px;
        margin: 0 0 5px;
        color:white;
      }
      &__comment {
        margin-top: 10px;
        padding-left: 20px;
        font-size: 15px;
        text-decoration: none;
    }
  }
  }
}
